os: windows      # Windows Server, version 1803
language: shell  # 'language: python' is not yet supported on Windows

env:
  global:
    - PY37PATH=/c/Python37:/c/Python37/Scripts
  
matrix:
  include:
    - name: "Py3: Run tests"
      env: PATH=$PY37PATH:$PATH
      before_install:
        - choco install python

install:
  - python -m pip3 install --upgrade pip3
  #- pip install -r requirements.txt
  - pip3 install pyinstaller

script:
  - pyinstaller --onefile hello.py
  - sleep 1  # Allow pyinstaller to finish writing to stdout
  - ls -l dist
  - dist/hello.exe
  - echo ">>>> build successfully!"
